body {
  font-family: Arial, sans-serif;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a, nav button {
  margin: 0 10px;
  text-decoration: none;
  background: #f8b500;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

<<<<<<< Updated upstream
=======
h2 a {
  margin: 0 10px;
  text-decoration: none;
  background: #f8b500;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

>>>>>>> Stashed changes
main {
  padding: 20px;
}

form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
}

#listaProdutosAdmin div {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

button {
  background: #f8b500;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
<<<<<<< Updated upstream
=======

div button {
  background: #f8b500;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 7px 0px;
  cursor: pointer;
   border-radius: 5px;
}
>>>>>>> Stashed changes
