body {
  font-family: Arial, sans-serif;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  background: #f8b500;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#listaEncomendas div {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px;
  background: #f9f9f9;
}

footer {
  background: #eee;
  text-align: center;
  padding: 10px;
}
